@import url(https://fonts.googleapis.com/css?family=Arima+Madurai|Barlow+Semi+Condensed&display=swap);
body {
	background-color: #CFCDFF;
	font-family: Garamond, san-serif;
}
h1 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 0px;
	font-weight: normal;
	font-family: 'Arima Madurai', cursive;
}
p {
	font-size: 18px;
	font-family: 'Barlow Semi Condensed', sans-serif;

}
ul {
	font-size:16px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-size: 28px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: 'Arima Madurai', cursive;
}
#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.center {
	text-align: center;
}
#contact {
	font-size: 12px;
	text-align: right;
}
